
<%= render 'shared/error_messages' %>
 
<h2 class="black">
  Sign up
</h2>
<%= form_for(@user) do |f| %>
 <div>
    <div>
      <%= f.label :name %>
    </div>
    <%= f.text_field :name %>
  </div>
  <div>
    <div>
      <%= f.label :email %>
    </div>
    <%= f.email_field :email %>
  </div>

  <div>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <div>
    <%= f.label :password_confirmation, "Confirmation" %>
    <%= f.password_field :password_confirmation %>
  </div>

  <%= f.submit "Sign up", class: "btn btn-primary" %>
<% end %>
