
<div class="black">
  Category
</div>

<% @categories.each do |cat| %>
  <% if @thread[cat] %>
    <span class="category">
      <%=  cat[4..-1]  %>
    </span>
  <% end %>
<% end%>


<div class="black">
  Comments 
</div>

<% if @posts.length == 0 %>
  <p>There is no comments. Let's comment!</p>
<% else %>
<ol>
  <% @posts.each do |post| %>
    <li> 
      <div class="black">
        <% if post.user_id.nil? %>
          <%= "NO NAME" %>
        <% else %>
          <%= User.find(post.user_id).name %>
        <% end %>
      </div>
      <%= post.content %>
    </li>
  <% end %>
</ol>
<% end %>

<%= form_with(url: "/#{@id}/posts"  , method: "post") do %>
  <%= text_field_tag(:content) %>
  <%= submit_tag("create") %>
<% end %>


