<h2> SEACH RESULT</h2 >
<h2>search word is  [<%= params[:search_word] %>].  </h2>

<ul>
  <% result_flag = false %>
  <% @threads.each do |thread| %>
    <% if  thread["posts"].length > 0 %>
      <% result_flag = true %>
      <a href= "/<%= thread["id"]%>" class="btn_anchor"> <%= thread["name"] %> </a>
      <% thread["posts"].each do |post| %>
        <li> 
          <div class="black">
            <% if post.user_id.nil? %>
              <%= "NO NAME" %>
            <% else %>
              <%= User.find(post.user_id).name %>
            <% end %>
          </div>
          <div class="category">
            <%=  post.created_at.strftime("%Y-%m-%d-%H:%M") %>
          </div>
          <div class="wrapped">
            <%= post.content %>
          </div>
        </li>
      <% end %>
    <%end%>
  <% end %>
  <% if !result_flag %>
    <h2>There is no hit. Try a different search word.</h2>
  <% end %>
</ul>


