<!DOCTYPE html>
<html>
  <head>
    <title>Board</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header'%>
    <div class="container">
      <% flash.each do |message_type, message| %>
        <% if message.kind_of?(Array) %>
          <% message.each do |m| %>
          <div class="flash"><%= m %></div>
        <% end %>     
      <% else %>
        <div class="flash"><%= message %></div>
      <% end %>
    <% end %>
    <%= yield %>
    </div>
  </body>
</html>
